<script src="${ctx.contextPath}/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="${ctx.contextPath}/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="${ctx.contextPath}/static/vendor/metisMenu/metisMenu.min.js"></script>
<script src="${ctx.contextPath}/static/vendor/iCheck/icheck.min.js"></script>

<!-- app scripts -->

<script src="${ctx.contextPath}/static/scripts/app.js"></script>