<script src="/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/metisMenu/metisMenu.min.js"></script>
<script src="/vendor/iCheck/icheck.min.js"></script>

<!-- app scripts -->

<script src="/scripts/app.js"></script>