<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--page title -->
#if( $pageTitle )
<title>$!{pageTitle} | 管理后台</title>
#else
<title>管理后台</title>
#end

<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/vendor/metisMenu/metisMenu.min.css">
<link rel="stylesheet" href="/vendor/animate.css/animate.min.css">
<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">


<!-- app style -->

<link rel="stylesheet" href="/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css"/>
<link rel="stylesheet" href="/fonts/pe-icon-7-stroke/css/helper.css"/>
<link rel="stylesheet" href="/styles/style.css" />

#if( ${pageStyles} )
    #foreach (${style} in ${pageStyles})
    <link rel="stylesheet" href="${style}">
    #end
#end

<script src="/vendor/jquery/jquery.min.js" ></script>