<div id="header">
    <div class="color-line">
        <div id="logo" class="light-version">
            <span>管理平台</span>
        </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo">
                <span class="text-primary">管理平台</span>
            </div>
            <form role="search" method="post" class="navbar-form-custom" action="#">
                <div class="form-group">
                    <input type="text" placeholder="API 信息搜索" class="form-control" name="srarch">
                </div>
            </form>
            <div class="mobile-menu">
                <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="collapse mobile-navbar" id="mobile-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="${ctx.contextPath}/#">修改密码</a></li>
                        <li><a href="${ctx.contextPath}/user/logout">注销</a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li>
                        <a href="${ctx.contextPath}/user/logout">
                          <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>